<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
</head>
<body>
    <form action="/?&action=add_to_menu" method="post">
        <label for="dish_name">Название блюда:</label><br>
        <input type="text" id="dish_name" name="dish_name"><br>
        <label for="price">Цена:</label><br>
        <input type="text" id="price" name="price">
        <label for="weight">Вес:</label><br>
        <input type="text" id="weight" name="weight">
        <input type="submit" value="ADD">
    </form>
    <a href="/&?action=">Главная страница</a>
</body>
</html>
